.apply{
    display: block;
    color: #1976d2;
    width:100%;
    align-items: center;
}
.title{
    display : flex;
  //  flex-direction: row;
   // align-items: flex-end;
}
.last-item {
    margin-left: auto;
  }