
<div class="apply">
<h1 mat-dialog-title>Hi!</h1>
<div mat-dialog-content>
  <p>What's your Name?</p>
  <mat-form-field appearance="fill">
    <mat-label>Full Name Here</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <p>What's your Email?</p>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email" type="email">
  </mat-form-field>
  <p>What's your verification number?</p>
  <mat-form-field appearance="fill" >
    <mat-label>Phone </mat-label>
    <input matInput [(ngModel)]="data.phoneNo" type="tel">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
</div>