
<div class="toolbar" role="banner">
    <img class = "logog"
      width="100"
      alt="Angular Logo"
      src="assets/Capture.PNG"
    />
    <span class="spacer"></span>
      <button mat-button color="primary">Blog</button>
     <button  mat-stroked-button color="primary">About Us </button>
     <button mat-raised-button color="primary" >Apply</button>
     <button mat-stroked-button color="primary">Contact</button>
     <button mat-stroked-button color="primary">How it Works!</button>

    
      
  </div>
